<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25850438302-4ef6dmopfujpo0k63pb7v27gg8022uii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25850438302-4ef6dmopfujpo0k63pb7v27gg8022uii</string>
	<key>API_KEY</key>
	<string>AIzaSyDQW2lH5KgSA6lUj2DFHVQiQu_nXz6ktV8</string>
	<key>GCM_SENDER_ID</key>
	<string>25850438302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-b28a2</string>
	<key>STORAGE_BUCKET</key>
	<string>test-b28a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25850438302:ios:a56dcc32720cbd9a04d18f</string>
</dict>
</plist>